**/.git
**/.gitignore
**/Dockerfile*
**/.DS_Store
**/docker-compose*.yml
**/*.example
**/.gitattributes
*.example
.editorconfig
.eslintrc
node_modules
.phpstorm.meta.php
_ide_helper.php
.idea/
bootstrap/cache/
resources/assets/
storage/
.env
